<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
  <div style="text-align: center;margin-top: 3em;margin-bottom: 1em;">
    <img src="assets/images/svg/icon.svg" style="height: 50px;" alt="">
  </div>
  <form [formGroup]="registerForm">

    <ion-item>
      <ion-label floating>First Name</ion-label>
      <ion-input formControlName="first_name" type="text" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Last Name</ion-label>
      <ion-input formControlName="last_name" type="text" type="text"></ion-input>
    </ion-item>
    <ion-grid style="padding: 0px;">
      <ion-row>
        <ion-col style="padding: 0px;" col-8>
          <ion-item>
            <ion-label floating>Mobile</ion-label>
            <ion-input formControlName="mobile" [(ngModel)]="mobileno" type="tel" type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col style="padding: 0px;" col-4>
          <button [disabled]="!isenabled" style="overflow: none;-webkit-box-flex: none; -webkit-flex: 0;-ms-flex: none;width: 90%;float:right;height: 2.5em; flex: none !important;margin-top: 1.5em;"
            ion-button block color="secondary" (click)="sendOTP()">
            Send OTP
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="OTPVerification" style="padding: 0px;">
      <ion-row>
        <ion-col style="padding: 0px;" col-8>
          <ion-item>
            <ion-label floating>Verify OTP</ion-label>
            <ion-input formControlName="verifyotp" [(ngModel)]="verifyotp" type="tel" type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col style="padding: 0px;" col-4>
          <button [disabled]="isenabled" style="overflow: none;-webkit-box-flex: none; -webkit-flex: 0;-ms-flex: none;width: 90%;float:right;height: 2.5em; flex: none !important;margin-top: 1.5em;"
            ion-button block color="secondary" (click)="verifyOTP()">
            Verify OTP
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- <ion-item style="overflow: none;-webkit-box-flex: none; -webkit-flex: 0;-ms-flex: none; flex: none !important;"></ion-item> -->
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input [formControl]="registerForm.controls['email']" type="email"></ion-input>
    </ion-item>
    <div *ngIf="!registerForm.controls.email.valid && registerForm.controls.email.dirty" class="validator-error" style="font-size: 10px;margin-left: 2em;
      margin-top: 1em;">
      Please enter a valid email.
    </div>
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input [formControl]="registerForm.controls['password']" type="password"></ion-input>
    </ion-item>
    <div *ngIf="registerForm.controls.password.hasError('pattern') && (registerForm.controls.password.dirty || submitted)" class="validator-error"
      style="font-size: 10px;margin-left: 2em;
      margin-top: 1em;">
      Passwords should be at least 8 characters long and contain one number, one character and one special character.
    </div>
    <ion-row>
      <ion-col text-center>
        <button ion-button block color="secondary" [disabled]="!registerForm.valid" (click)="register(registerForm.value)">
          Register
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <button ion-button block color="primary" (click)="resetRegister(registerForm.value)">
          Cancel
        </button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar style="min-height: 12px !important">
    <ion-title style="font-size: 10px;"> Copyright © 2018 Connexion Health, LLC. All Rights Reserved.</ion-title>
  </ion-toolbar>
</ion-footer>